.checkbox {
  display: inline-block;
  padding: 3px 7px 3px 4px;
  filter: var(--filter80);
  color-scheme: var(--color-scheme, revert) !important;
}

.modal {
  z-index: 7;
  background-color: var(--challenge-modal-background-color);
  padding: 1px 0;
  padding-top: 2px;
  color: var(--text);
  border: var(--challenge-modal-border);
  min-width: 200px;
}

.modal input[type="checkbox"] {
  margin-right: 3px;
  outline: none;
  cursor: pointer;
  margin: 0 3px;
  vertical-align: middle;
  transform: translateY(-2px);
}

.menuItem {
  padding: 2px 3px 1px 3px;
  text-transform: capitalize;
}

.menuItem label {
  cursor: pointer;
}

.menuReason {
  padding-bottom: 2px;
}


.menuItem input[type="text"], .editTextarea {
  padding: 2px;
  box-shadow: var(--box-shadow-input);
  margin-top: 2px;
  width: calc(100% - 6px);
  margin-bottom: 2px;
}

.menuItem input[type="text"], .menuItem input[type='number'], .editTextarea {
  border: var(--post-form-field-input-border);
  outline: none;
}

.menuItem input[type="text"]:focus, .menuItem input[type='number']:focus, .editTextarea:focus {
  border: var(--post-form-field-input-focus-border);
}

.bottom {
  clear: both;
  display: block;
}

.editTextarea {
  width: calc(100% - 12px);
  height: 100px;
  margin-left: 3px;
  font-family: inherit;
}

.bottom button {
  text-transform: capitalize;
  margin-left: 2px;
  margin-bottom: 2px;
}

.optional {
  color: var(--text-info);
}

@supports (-moz-appearance: none) {
  .banInput {
    width: 3.5em;
  }
}

@media (min-width: 640px) {
  .bottom button {
    cursor: pointer;
    padding: 2px 6px 3px; 
  }
}

@media (max-width: 640px) {
  .checkbox {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}