.content {
  overflow: hidden;
}

.footer {
  color: var(--post-mobile-abbr-text-color);
  padding: 15px 0 20px 5px;
}

.morePostsSuggestion {
  color: var(--body-font-color);
  padding-bottom: 5px;
}

.footer a, .newerPostsButton  {
  cursor: pointer;
  text-decoration: var(--button-text-decoration);
  color: var(--button-desktop-text-color);
}

.footer a:hover, .newerPostsButton:hover {
  color: var(--button-desktop-text-color-hover);
}

.button {
  text-transform: capitalize;
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
}

.button:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

@media (max-width: 640px) {
  .footer {
    padding-left: 5px;
  }
}