.footer {
  padding-top: 10px;
}

.button {
  text-transform: capitalize;
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
}

.button:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

@media (max-width: 640px) {
  .footer {
    padding-left: 5px;
  }
}