.content {
  text-align: center;
  clear: both;
}

.bannerCnt img {
  width: 300px;
  height: 100px;
  border: var(--banner-image-border);
  max-width: 100%;
}

.boardTitle {
  font-family: var(--board-title-font-family);
  font-size: var(--board-title-font-size);
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
  color: var(--board-title-text-color);
}

.boardAddress {
  padding-top: 5px;
  font-size: var(--board-address-font-size);
  color: var(--board-address-text-color);
}

.content hr {
  width: 90%;
}


@media (max-width: 640px) {
  .bannerCnt {
    padding-top: 35px;
  }
 }

 @media (min-width: 640px) {
  .bannerCnt {
    padding: 5px 0 2px 0;
  }
 }