.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.button {
  text-transform: capitalize;
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
}

.button:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

.filtersButton {
  text-transform: capitalize;
}

.modal label, .modal button, .modal select {
  cursor: pointer;
}

.modal button {
  text-transform: capitalize;
}

.modal {
  top: 60px;
  left: calc(50% + 5px);
  transform: translateX(-50%);
  width: 380px;
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  position: fixed;
  z-index: 5;
  padding: 2px 5px 3px 5px;
  font-size: var(--settings-modal-font-size);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: var(--settings-modal-background-color);
}

@media (max-width: 640px) {
  .modal {
    padding-bottom: 0;
  }
}

.filtersProtipModal {
  top: 50px;
  width: 570px;
  left: 50%;
  padding: 2px 10px 5px 10px;
}

@media (max-width: 614px) {
  .filtersProtipModal {
    width: 90vw;
  }
}

@media (max-width: 420px) {
  .modal {
    width: 90vw;
  }
}

.header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  line-height: 14px;
  border-bottom: var(--settings-modal-header-border-bottom);
}

.title {
  text-transform: capitalize;
}

.closeButton {
  right: 5px;
  width: 18px;
  height: 18px;
  display: block;
  background-size: 100%;
  position: absolute;
  top: 5px;
  image-rendering: pixelated;
  background-image: var(--settings-modal-close-button-background-image);
  cursor: pointer;
}

.openHelpButton {
  right: 23px;
  width: 18px;
  height: 18px;
  display: block;
  background-size: 100%;
  position: absolute;
  top: 5px;
  image-rendering: pixelated;
  background-image: var(--open-help-button-background-image);
  cursor: pointer;
}

.filtersProtip {
  text-transform: none;
  text-align: left;
}

.filtersProtip code {
  padding: 1px 5px 1px 5px;
  background-color: #EEE;
  color: #000;
}

.filtersProtip li {
  list-style: none;
  margin: 5px 0px;
}

.filtersProtip ul {
  margin-bottom: 10px;
}

.filtersProtip h4 {
  font-size: 15px;
  margin: 10px 0px 5px 0px;
  padding-top: 10px;
}

.filtersProtip h4:first-child {
  padding-top: 0px;
}

.filtersProtip h4::before {
  content: "»";
  margin-right: 3px;
}

.filters {
  padding: 5px;
  text-align: left;
}

.filters label {
  display: inline-block;
  margin-bottom: 7px;
}

.filters label input[type='checkbox'] {
  margin-right: 5px;
}

.categoryTitle {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}

.paddingBottom {
  padding-bottom: 5px;
}

.filtersTable {
  width: 100%;
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 2px 2px 2px;
}

.filtersTable th {
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  min-width: 20px;
}

.filtersTable tbody td {
  padding: 8px 0 0;
}

.filtersTable td {
  text-align: center;
  margin: 0;
  font-size: 10pt;
}

.filtersTable input[type='checkbox'] {
  display: inline-block;
  margin: auto;
}

.filtersTable input[type='text'] {
  margin: 0 2px;
  padding: 1px;
  outline: none;
  border: var(--reply-modal-field-input-border, revert);
  font-size: 11px;
  width: 150px;
}

@media (max-width: 640px) {
  .filtersTable input[type='text'] {
    font-size: 16px !important;
  }
}

.filtersTable input[type='text']:focus {
  border: var(--reply-modal-field-input-border-focus, revert);
}

.filtersTable span {
  cursor: pointer;
}

.filtersTable tfoot td {
  padding-top: 20px;
}

.addButton {
  float: left;
}

.saveButton {
  position: absolute;
  right: 5px;
}
@media (max-width: 640px) {
  .addButton, .saveButton {
    margin-bottom: 4px !important;
  }
}

.filterHits {
  font-size: 12px !important;
  text-transform: none;
}

.clickbox {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  display: block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #000;
  margin: auto;
}