.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content select {
  background-color: var(--select-background-color, revert);
  border: var(--select-border, revert);
  color: var(--select-color, revert);
  margin: 10px;
}

.content a {
  margin: 10px;
  margin-bottom: 40px;
  display: block;
}