.button {
  text-transform: capitalize;
  color: var(--button-desktop-text-color, revert);
  text-decoration: var(--button-text-decoration, revert);
}

.button:hover {
  color: var(--button-desktop-text-color-hover, revert);
  cursor: pointer;
}

.filtersButton {
  text-transform: capitalize;
}

.searchContainer {
  display: inline;
}

.searchContainer input {
  width: 75px;
  margin: 0px 5px;
  padding: 1px;
  outline: none;
  border: var(--post-form-field-input-border, revert);
  font-size: 11px;
}

.searchContainer input:focus {
  border: var(--post-form-field-input-focus-border, revert);
}

.closeSearch {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  color: var(--button-desktop-text-color, revert);
}

.closeSearch:hover {
  color: var(--button-desktop-text-color-hover, revert);
}

@media (max-width: 640px) {
  .searchContainer input {
    width: 75px;
    font-size: 16px;
  }
}
