.setting {
  margin-left: 10px;
  margin-bottom: 10px;
}

.setting button {
  cursor: pointer;
  text-transform: capitalize;
}

.cryptoAddressInput input[type="text"] {
  padding: 2px;
  margin-bottom: 5px;
}

.infoButton {
  padding: 0 5px;
}

.cryptoAddressInfo {  
  word-break: break-word;
}

.cryptoAddressInfo ol {
  padding-bottom: 10px;
  padding-left: 15px;
}

.cryptoAddressInfo a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.cryptoAddressInfo a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.saveButton {
  margin: 0 5px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}