.setting {
  margin: 10px 10px 0 10px;
}

.blockedAddress {
  padding-bottom: 5px;
  margin-left: 20px;
}

.unblockAll {
  padding-bottom: 10px;
}

.button {
  text-transform: capitalize;
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
}

.unblockButton {
  float: right;
}

.button:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

.notBlocked {
  padding-bottom: 10px;
}
