.postMenuBtn {
  color: var(--post-mobile-menu-button-color);
  line-height: 1em;
  width: 1em;
  text-align: center;
  transition: transform 0.1s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  float: left;
  font-weight: 700;
  font-size: 16px;
  height: 100%;
  cursor: pointer;
}

.postMenu {
  font-size: 16px;
  line-height: 2.5em;
  background-color: var(--post-menu-mobile-background-color);
  border: var(--post-menu-mobile-border);
  border-right-width: var(---post-menu-mobile-border-right-width);
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.postMenu a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.postMenuItem {
  cursor: pointer;
  position: relative;
  padding: 2px 4px;
  vertical-align: middle;
  border-bottom: var(--post-menu-mobile-item-border-bottom);
}

.postMenuItem:hover {
  background-color: var(--post-menu-mobile-item-hover-background-color);
}