.mobileBoardButtons {
  text-align: center;
  margin-top: 9px;
}

.mobileBoardButtons button {
  margin: 0 2px;
  text-transform: capitalize;
}

.mobileBoardButtons a, .desktopBoardButtons a {
  all: unset;
}

.mobilePostPageButtonsSecondRow {
  padding-top: 5px;
  padding-bottom: 20px;
}

@media (max-width: 640px) {
  .desktopBoardButtons {
    display: none;
  }
}

@media (min-width: 640px) {
  .mobileBoardButtons {
    display: none;
  }

  .subscribeButton {
    float: right;
  }
}