.mobileBoardButtons {
  text-align: center;
}

.addMargin {
  margin-bottom: 7px;
}

.mobileBoardButtons button {
  text-transform: capitalize;
  margin: 5px 2px;
}

.mobileBoardButtons .secondRow {
  margin-top: -5px;
  padding-bottom: 20px;
}

.mobileBoardButtons {
  margin-top: -3px;
}

.mobileBoardButtons .autoCheckbox {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  border-radius: 0;
  height: 10px;
  width: 10px;
}

.disabledButton:hover {
  cursor: not-allowed !important;
}

.mobileBoardButtons a, .desktopBoardButtons a {
  all: unset;
}

.showBlockedButton {
  color: var(--button-desktop-text-color);
}

.showBlockedButton:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

.mobileBoardButtons .options {
  padding: 10px 0;
}

.desktopBoardButtons {
  text-transform: capitalize;
}

.desktopBoardButtons::after {
  content: "";
  display: table;
  clear: both;
}

.desktopBoardButtons .rightSideButtons {
  float: right;
  display: flex;
  align-items: center;
}

.desktopBoardButtons .rightSideButtons select {
  margin-right: 5px;
}

.mobileCatalogOptionsPadding {
  padding-top: 15px;
}

.filteredThreadsCount {
  text-transform: none !important;
}

.mobileBoardButtons {
  text-transform: capitalize;
}

.mobileBoardButtons .filteredThreadsCount {
  display: block;
  margin-top: 3px;
  margin-bottom: 15px;
}

.searchOPsInput {
  height: 16px;
  line-height: 16px;
  margin-left: 2px;
  padding: 0 2px;
  width: 120px;
  margin: 0px;
  margin-right: 4px;
  padding: 0 2px;
  border: var(--post-form-field-input-border, revert);
  background-color: var(--post-form-field-input-background-color, revert);
  color: var(--post-form-field-input-color);
  outline: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}

.searchOPsInput:focus {
  border: var(--post-form-field-input-focus-border, revert);
}

@media (max-width: 640px) {
  .desktopBoardButtons {
    display: none;
  }
}

@media (min-width: 640px) {
  .mobileBoardButtons {
    display: none;
  }
}