.mobileBoardButtons {
  text-align: center;
  margin-bottom: 10px;
}

.mobileBoardButtons button {
  margin: 0 2px;
  text-transform: capitalize;
}

.mobileBoardButtons a, .desktopBoardButtons a {
  all: unset;
}

.showBlockedButton {
  color: var(--button-desktop-text-color);
}

.showBlockedButton:hover {
  color: var(--button-desktop-text-color-hover);
  cursor: pointer;
}

.mobileBoardButtons .options {
  padding: 10px 0;
}

.desktopBoardButtons {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure elements are spaced out properly */
}

.desktopBoardButtons::after {
  content: "";
  display: table;
  clear: both;
}

.desktopBoardButtons .rightSideButtons {
  margin-left: auto; /* Push the right-side buttons to the right */
  display: flex;
  align-items: center;
}

.desktopBoardButtons .rightSideButtons select {
  margin-right: 5px;
}

.mobileCatalogOptionsPadding {
  padding-top: 15px;
}

.createBoardButton {
  text-align: center;
  font-size: 10px;
}

.createBoardButton a {
  text-decoration: none;
  color: var(--button-desktop-text-color);

}
.createBoardButton a:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
}

@media (max-width: 640px) {
  .desktopBoardButtons {
    display: none;
  }

  .createBoardButton {
    display: inline-flex;
  }
}

@media (min-width: 640px) {
  .mobileBoardButtons {
    display: none;
  }
}