.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.settingsModal {
  top: 60px;
  width: 400px;
  height: auto;
  max-height: 80%;
  left: calc(50% - 25px);
  overflow-y: auto;
  margin-left: -178px;
  position: fixed;
  z-index: 1000;
  padding: 2px 5px 5px;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: var(--settings-modal-background-color);
}

.settingsModal select {
  filter: var(--filter80);
}

.header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  line-height: 14px;
  border-bottom: var(--settings-modal-header-border-bottom);
}

.title {
  text-transform: capitalize;
}

.version {
  font-size: 11px;
  position: absolute;
  display: block;
  margin-left: 5px;
}

.version a {
  color: inherit;
  text-decoration: none;
}

.version a:hover {
  text-decoration: underline;
}

.closeButton {
  right: 5px;
  width: 18px;
  height: 18px;
  display: block;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  image-rendering: pixelated;
  background-image: var(--settings-modal-close-button-background-image);
}

@media (max-width: 640px) {
  .settingsModal {
    width: 350px !important;
    max-height: 60% !important;
    left: calc(50% - 2px) !important;
  }
}