.postFormTable {
  width: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border-spacing: 1px;
}

.postFormDesktop {
  font-size: var(--post-form-toggle-font-size);
  font-weight: var(--post-form-toggle-font-weight);
  text-align: center;
}

.postFormMobile {
  text-align: center;
  margin-top: -2px;
  padding-bottom: 7px;
}

.closed {
  font-size: x-large;
  text-align: center;
  color: red;
  font-weight: 700;
  padding: 100px 15px;
}

.offlineBoard {
  font-size: 16px;
  text-align: center;
  color: red;
  padding: 30px 15px;
  font-weight: 700;
}

.postFormTable td:first-child {
  background-color: var(--post-form-field-title-background-color);
  color: var(--post-form-field-title-color);
  font-weight: var(--post-form-field-title-font-weight);
  border: var(--post-form-field-border);
  padding: var(--post-form-field-title-padding);
  font-size: var(--post-form-field-title-font-size);
  width: 80px;
  text-transform: capitalize;
}

.postFormTable td {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  position: relative;
}

.postFormTable input[type="text"], .postFormTable textarea {
  border: var(--post-form-field-input-border, revert);
  font-family: var(--post-form-field-font-family, revert);
  appearance: var(--post-form-field-input-appearance, revert);
  outline: var(--post-form-field-input-outline, revert);
  background-color: var(--post-form-field-input-background-color, revert);
  color: var(--post-form-field-input-color, revert);
  padding: 2px 4px 3px;
  font-size: 10pt;
}

.postFormTable input[type="text"]:focus, .postFormTable textarea:focus {
  border: var(--post-form-field-input-focus-border, revert);
}
      
.postFormTable td > input[type="text"] {
  width: 244px;
}

.postFormTable textarea {
  width: 292px;
  
  /* textareas have a gap below them that differs along browsers https://stackoverflow.com/a/7144960 */
  vertical-align: top;
}

.postFormTable button {
  margin-left: 2px;
  bottom: 0px;
  filter: var(--filter80);
  position: absolute;
  cursor: pointer;
  text-transform: capitalize;
}

.linkType {
  font-weight: normal;
  text-transform: lowercase;
}

.linkField input[type="text"] {
  width: 190px !important;
}

.spoilerButton input[type="checkbox"] {
  margin: 0 3px;
  vertical-align: middle;
  transform: translateY(-2px);
}

.spoilerButton td {
  padding-top: 2px;
  height: 20px;
  padding-left: 2px;
}

.spoilerButton {
  font-weight: normal;
}

@media (max-width: 640px) {
  .postFormDesktop {
    display: none;
  }

  .postFormTable {
    padding-top: 5px;
  }

  .postFormTable td input {
    height: 20px;
  }

  .postFormTable td textarea {
    height: 80px;
  }

  .postFormTable button {
    padding: 4px 8px;
  }
}

@media (min-width: 640px) {
  .postFormMobile {
    display: none;
  }
}