.postFormButtonDesktop {
  font-size: var(--post-form-toggle-font-size);
  font-weight: var(--post-form-toggle-font-weight);
  text-align: center;
}

.postFormButtonMobile {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 0.5em;
}

@media (max-width: 640px) {
  .postFormButtonDesktop {
    display: none;
  }
}

@media (min-width: 641px) {
  .postFormButtonMobile {
    display: none;
  }
}