.languageSettings {
  display: inline-block;
}

.setting {
  margin-left: 10px;
  margin-top: 10px;
}

.version {
  margin-left: 10px;
}

.version a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
  text-transform: lowercase;
}

.version a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.interfaceSettings {
  margin-bottom: 10px;
}

.setting input[type="checkbox"] {
  margin-right: 2px;
}

.settingTip {
  font-size: 0.85em;
  margin: 2px 0 5px 0;
  padding-left: 19px;
}
