.markdown a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.markdown a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.markdown li {
  list-style-position: inside;
}

.hrWrapper {
  padding: 0.5em 0;
}

.hrWrapper hr {
  margin: 0;
}
