.markdown a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.markdown a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.markdown li {
  list-style-position: inside;
}

.hrWrapper {
  padding: 0.5em 0;
}

.hrWrapper hr {
  margin: 0;
}

.embedButton {
  color: var(--button-desktop-text-color);
  text-transform: capitalize;
}

.embedButton:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
}

.spoiler {
  background-color: black;
  color: black;
  width: fit-content;
}

.spoiler:hover {
  color: white;
}

.floatingEmbed {
  background-color: #d6daf0;
  border: 1px solid #b7c5d9;
  padding: 2px;
}

.inline {
  display: inline;
}