
.boardNavDesktop {
  font-size: var(--boardnav-font-size);
  color: var(--boardnav-separator-color);
}

.boardNavDesktop a {
  color: var(--boardnav-desktop-link-text-color);
  text-decoration: var(--boardnav-desktop-link-text-decoration);
}

.boardNavDesktop a:hover {
  color: var(--boardnav-desktop-link-text-color-hover);
  text-decoration: var(--boardnav-desktop-link-text-decoration-hover);
}

.navTopRight {
  float: right;
  text-transform: capitalize;
}

.boardNavMobile {
  padding: 2px 4px;
  background-color: var(--boardnav-mobile-background-color);
  border-bottom: var(--boardnav-mobile-border-bottom);
  position: fixed;
  width: 100%;
  font-size: var(--boardnav-mobile-font-size);
}

.boardNavMobile .pageJump a {
  color: var(--button-text-color-mobile);
  text-decoration: var(--button-text-decoration-mobile);
}

.boardNavMobile strong {
  text-transform: capitalize;
  padding-right: 5px;
}

.boardNavMobile select {
  font-size: var(--boardnav-mobile-font-size);
  border: var(--select-border, revert);
  background-color: var(--select-background-color, revert);
  color: var(--select-color, revert);
}

.boardSelect {
  float: left;
}

.pageJump {
  float: right;
  padding: 3px 5px 0 0;
}

.pageJump a, .mobileSearchButton {
  padding-right: 5px;
  color: var(--homepage-box-link-text-color);
  text-decoration: var(--homepage-box-link-text-decoration);
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .boardNavDesktop {
    display: none;
  }
}

@media (min-width: 640px) {
  .boardNavMobile {
    display: none;
  }
}