.hide {
  display: none;
}

.show {
  display: block;
}

.content hr {
  min-width: 468px;
  margin-left: -4px;
  margin-bottom: 6px;
}

.blotter {
  min-width: 468px;
  margin: auto;
  line-height: 1;
  margin-top: -1px;
}

.blotter tr {
  font-size: var(--stats-font-size);
}

.blotter tfoot {
  text-align: right;
}

.hideButton {
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-text-decoration);
  text-transform: capitalize;
}

.hideButton:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
}

.statValue {
  color: var(--button-desktop-text-color);
}

.lowercase {
  text-transform: lowercase;
}


@media (max-width: 640px) {
  .content {
    display: none;
  }
}