.thumbnail {
  float: left;
  padding: 3px 20px 5px 0;
  width: var(--width, 250px);
  height: var(--height, 250px);
}

.thumbnailHidden {
  display: none;
}

.thumbnailVisible {
  display: block;
}

.thumbnailWrapper {
  background-color: var(--background-thumbnail);
  height: 250px;
  width: 250px;
  display: inline-block;
}

.transparentThumbnailWrapper {
  background-color: transparent;
  opacity: 1;
}

.thumbnail img, .thumbnail video {
  width: 100%;
  height: 100%;
}
