.thumbnailBig {
  float: left;
  width: var(--width);
  height: var(--height);
  padding: 3px 20px 5px 0;
}

.thumbnailSmall {
  float: left;
  width: var(--width);
  height: var(--height);
  padding: 3px 10px 5px 5px;
}

.thumbnailWrapperBig {
  background-color: var(--post-thumbnail-background-color);
  display: inline-block;
  height: 250px;
  width: 250px;
}

.thumbnailWrapperSmall {
  background-color: var(--post-thumbnail-background-color);
  display: inline-block;
  height: 150px;
  width: 150px;
}

.transparentThumbnailWrapper {
  background-color: transparent;
  opacity: 1;
}

.thumbnail img, .thumbnail video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
