.thread {
  clear: both;
}

.hrWrapper hr {
  margin: 0; /* margin bugs Virtuoso scrolling */
}

.postDesktop .hrWrapper {
  padding: 0.5em 0; /* instead of using margin, wrap with padding */
}

.postDesktop .link a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-link-text-decoration);
}

.postDesktop .link a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-link-text-decoration-hover);
}

.postDesktop .postInfo {
  width: 100%;
}

.postDesktop .subject {
  color: var(--post-subject-text-color);
  font-weight: var(--post-subject-font-weight);
}

.postDesktop .name {
  color: var(--post-name-text-color);
  font-weight: var(--post-name-font-weight);
}

.postDesktop .postNumLink a, .postDesktop .postNumLink span {
  color: unset;
  text-decoration: unset;
}

.postDesktop .postNumLink a:hover, .postDesktop .postNumLink span:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
}

.postDesktop .stickyIconWrapper {
  padding-left: 5px;
}

.postDesktop .closedIconWrapper {
  padding-left: 3px;
}

.postDesktop .stickyIconWrapper img, .postDesktop .closedIconWrapper img {
  width: 16px;
  height: 16px;
  border: none;
  image-rendering: pixelated;
}

.postDesktop .replyButton {
  padding-left: 10px;
}

.postDesktop .replyButton a {
  color: var(--button-desktop-text-color);
  text-decoration: var(--button-desktop-text-decoration);
  text-transform: capitalize;
}

.postDesktop .replyButton a:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
}

.postDesktop .postMenuBtn {
  padding-left: 5px;
  color: var(--post-menu-button-color);
}

.postDesktop .postMenuBtn:hover {
  cursor: pointer;
  color: var(--post-menu-button-color-hover);
}

.postDesktop .postMessage {
  padding: 1em 40px;
}

.postDesktop .abbr {
  color: var(--post-mobile-abbr-text-color);
  font-size: var(--post-mobile-abbr-font-size);
}

.postDesktop .abbr a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.postDesktop .abbr a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.postMobile hr {
  padding-bottom: 30px;
}

.postMobile .thread {
  border-top: none;
  margin: 0;
  clear: both;
  padding-bottom: 30px;
}

.postMobile .postContainer {
  background-color: var(--post-mobile-background-color);
}

.postMobile .postOp {
  display: inline;
}

.postMobile .postInfo {
  overflow: hidden;
  border-bottom: var(--post-mobile-info-border-bottom);
  background-color: var(--post-mobile-info-background-color);
  padding: 5px;
  clear: left;
}

.postMobile .postMenuBtn {
  color: var(--post-mobile-menu-button-color);
  line-height: 1em;
  width: 10px;
  text-align: center;
  transition: transform 0.1s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  float: left;
  font-weight: 700;
  font-size: 16px;
  height: 100%;
}

.postMobile .nameBlock {
  clear: none;
}

.postMobile .nameBlock .name {
  color: var(--post-mobile-name-text-color);
  font-weight: var(--post-mobile-name-font-weight);
}

.postMobile .nameBlock .subject {
  color: var(--post-mobile-subject-text-color);
  font-weight: var(--post-mobile-subject-font-weight);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.postMobile .dateTimePostNum {
  display: block;
  text-align: right;
}

.postMobile .postMessage {
  padding: 10px;
  font-size: var(--post-mobile-content-font-size);
}

.postMobile .postLink {
  clear: both;
  background-color: var(--post-mobile-link-background-color);
  border-top: var(--post-mobile-link-border-top);
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postMobile .postLink .info {
  color: var(--post-mobile-link-info-text-color);
}

.postMobile .abbr {
  color: var(--post-mobile-abbr-text-color);
  font-size: var(--post-mobile-abbr-font-size);
}

.postMobile .abbr a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);

}

.postMobile .abbr a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

@media (max-width: 640px) {
  .postDesktop {
    display: none;
  }
}

@media (min-width: 641px) {
  .postMobile {
    display: none;
  }
}