.tooltip {
  position: absolute;
  background-color: var(--tooltip-background-color);
  font-size: 11px;
  line-height: 13px;
  padding: 3px 6px;
  z-index: 100000;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 400px;
  color: #fff;
  text-align: center;
}

.tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--tooltip-background-color);
  margin-left: -4px;
  bottom: -4px;
  left: 50%;
}