.content {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: left;
  width: 750px;
  min-width: 750px;
}

.logo img {
  height: 120px;
}

.logo {
  margin: 0px auto;
  text-align: center;
}

.box {
  position: relative;
  background: var(--homepage-box-background-color);
  color: var(--homepage-infobox-text-color);
  border: 1px solid var(--homepage-box-border-color);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.infoBox {
  border: 1px solid black;
}

.boardsBox {
  overflow: hidden;
  min-height: 150px;
}

.offlineIcon {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 2px;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}

.boardsBox table {
  display: table;
  margin-bottom: 10px;
  overflow: hidden;
  table-layout: fixed;
  width: calc(100% + 4px);
  margin-left: -2px;
  border-collapse: separate;
  border-spacing: 2px 0;
}

.boardsBox table thead th {
  background: #fca;
  color: #800;
  border: 1px solid #800;
  padding: 4px 15px 5px 5px;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}

.boardsBox table tbody td {
  margin: 0;
  padding: 4px 15px 4px 4px;
  text-align: left;
}

.boardsBox table tbody tr:nth-of-type( even ) {
  background: #ede2d4;
}

.boardCell {
  position: static;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boardCell a {
  color: inherit;
}

.loadMoreButton {
  text-align: center;
  margin-bottom: 14px;
  color: var(--topbar-separator-color);
}

.displayCount {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.loadMoreButton span {
  color: var(--topbar-desktop-link-text-color);
  text-transform: capitalize;
}

.loadMoreButton span:hover {
  cursor: pointer;
  color: var(--button-desktop-text-color-hover);
  text-decoration: underline;
}

.boxBar, .infoboxBar {
  padding-left: 0.5em;
  line-height: 2em;
  text-transform: capitalize;
}

.infoboxBar {
  background: var(--homepage-infobox-bar-background-color);
  color: var(--homepage-infobox-bar-text-color);
}

.boxBar {
  background: var(--homepage-box-bar-background-color);
  color: var(--homepage-box-bar-text-color);
}

.boxBar h2, .infoboxBar h2 {
  font-size: 131%;
  font-weight: 700;
}

.boxBar span {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.25em;
  text-transform: lowercase;
}

.boxBar span:hover {
  cursor: pointer;
  color: var(--homepage-box-bar-text-color-hover);
}

.boxContent {
  line-height: 1.5em;
  font-size: 93%;
  padding: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0;
}

.boxContent a {
  text-decoration: underline;
}

.boxContent a, .boxContent a:visited{
  color: var(--homepage-infobox-link-text-color);
}

.searchBar form {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar input {
  font-size: 18px;
  height: 30px;
  box-sizing: border-box;
  appearance: none;
  border-radius: 0px;
  border: 1px solid rgb(170, 170, 170);
  outline: none;
  flex-grow: 1;
  min-width: 0;
  max-width: 400px;
}

.searchBar input {
  width: 400px;
  padding: 3px 10px;
}

.searchBar input:focus {
  border-color: #ea8;
}

.searchButton {
  margin-left: 4px;
  padding: 3px 5px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}

.filterModal {
  position: absolute;
  top: 30px;
  right: 5px;
  display: inline-block;
  position: absolute;
  text-align: right;
  background: #fff;
  border: 1px solid gray;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, .1);
  padding: 4px 0;
  line-height: 1.7em;
  z-index: 100;
}

.filterModal .separator {
  border-bottom: 1px solid #ccc;
  margin: 6px 0 4px;
  padding: 0;
}

.filterModal .option {
  padding: 0 10px;
}

.filterModal .option:hover {
  background-color: #fca;
  cursor: pointer;
}

.filterModal .selected::before {
  content: '✔ ';
}

.nsfw {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  font-size: smaller;
}

.footer a {
  text-transform: capitalize;
}

.version {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 11px;
}

.version a {
  text-decoration: none;
  color: unset;
}

.version a:hover {
  text-decoration: underline;
}

.popularThreads {
  font-size: 93%;
  padding: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0;
  line-height: 130%;
  text-align: center;
}

.popularThread {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  margin-top: 5px;
  padding: 5px 0 3px;
  position: relative;
  width: 175px;
  max-height: 320px;
  margin-bottom: 10px;
  color: #800;
}

.popularThread .title {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  margin-bottom: 5px;
}

.popularThread .mediaContainer {
  width: auto;
  height: auto;
  border: 1px solid #800;
  display: inline-block;
  overflow: hidden;
  position: relative;
  line-height: 0;
}

.popularThread .mediaContainer img, .popularThread .mediaContainer video {
  max-width: 150px;
  max-height: 150px;
}

.popularThread .threadContent {
  margin-bottom: 5px;
  padding: 0 2px;
  white-space: pre-line;
}

.stats {
  margin-top: 5px;
  text-align: center;
  color: #800;
}

.stats .stat {
  display: inline-block;
  width: 33%;
  text-transform: capitalize;
}

.boardPPH {
  width: 33px;
}

@media (max-width: 640px) {
  .content {
    min-width: 0;
    width: auto;
    padding: 10px;
  }
  
  .footer {
    text-align: center;
  }

  .footer ul {
    margin: auto;
  }

  .footer li {
    display: inline-table;
    line-height: 1.7;
    white-space: nowrap;
    padding: 2px 1em 2px 1em;
  }

  .footer a {
    color: var(--homepage-infobox-link-text-color);
    text-decoration: underline;
  }
}

@media (min-width: 640px) {
  .footer {
    border-top: 1px solid;
    width: 750px;
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
  }

  .footer li {
    background: var(--footer-item-background-color-desktop);
    border: 1px solid;
    padding: 2px 1em 2px 1em;
    border-left: none;
    margin-top: -1px;
    list-style: none;
  }

  .footer li:first-child {
    border-left: 1px solid !important;
  }

  .footer a {
    color: var(--homepage-box-bar-text-color);
    text-decoration: none;
  }

  .footer a:hover {
    color: var(--homepage-box-bar-text-color-hover);
  }
}