.app {
  background: var(--background-base-color) var(--background-pattern-image) top center repeat-x;
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  z-index: 1;
  min-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}
