.app {
  background: var(--background-base-color) var(--background-pattern-image) top center repeat-x;
  font: 13px/1.231 arial, helvetica, sans-serif;
  z-index: 1;
  min-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}
