html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
  background: var(--body-background-base-color) var(--body-background-pattern-image) top center repeat-x;
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  color: var(--body-font-color);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, th, td, iframe, blockquote {
  margin: 0;
  padding: 0;
}

hr {
  border: var(--hr-border, revert);
  border-top: var(--hr-border-top, revert);
  height: var(--hr-height, revert);
}

.greentext {
  color: var(--post-greentext-color);
}

.highlight {
  background: var(--reply-highlight-background-color) !important;
}

.capitalize {
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .button {
    font-size: var(--button-font-size-mobile);
    font-weight: var(--button-font-weight-mobile);
    font-family: var(--button-font-family-mobile);
    border-radius: 3px;
    padding: 5px 10px 5px;
    background-color: var(--button-background-color-mobile);
    color: var(--button-text-color-mobile);
    border: var(--button-border-mobile);
    background-image: var(--button-background-image-mobile);
    background-repeat: var(--button-background-repeat-mobile);
    text-decoration: var(--button-text-decoration-mobile);
    user-select: none;
    display: inline-block;
  }

  select {
    filter: var(--filter80);
  }
}

@media (min-width: 640px) {
  .button {
    all: unset;
    text-transform: capitalize;
    color: var(--button-desktop-text-color);
    text-decoration: var(--button-text-decoration);
  }

  .button:hover {
    color: var(--button-desktop-text-color-hover);
    cursor: pointer;
  }
}