:root .yotsuba {
  --color-scheme: light;
  
  /* backlink */
  --post-backlink-text-color: navy;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: red;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #ead6ca;
  --reply-backlink-mobile-border-top: 1px solid #d9bfb7;

  /* board banner */
  --banner-image-border: 1px solid #800;
  --board-title-font-size: 28px;
  --board-title-font-family: Tahoma, sans-serif;
  --board-address-font-size: x-small;

  /* body */
  --body-background-base-color: #ffe;
  --body-background-pattern-image: url("/public/assets/background-fade.png");
  --body-font-color: maroon;
  --body-font-family: arial, helvetica, sans-serif;
  --body-font-size: 13px;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: navy;
  --catalog-post-menu-desktop-btn-hover-color: red;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-subject-color: #cc1105;
  --catalog-post-preview-author-color: #00a550;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #f0e0d6;
  --challenge-modal-border: 1px solid #d9bfb7;
  --challenge-modal-title-background-color: #ea8;
  --challenge-modal-title-text-color: #800;
  --challenge-modal-title-border: 1px solid #800;
  --challenge-modal-title-font-size: 10pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #00e;
  --button-desktop-text-color-hover: red;
  --close-button-background-image: url("/public/assets/buttons/cross-red.png");

  /* horizontal rule */
  --hr-border: none;
  --hr-border-top: 1px solid #d9bfb7;
  --hr-height: 0px;

  /* homepage */
  --homepage-infobox-text-color: #000;
  --homepage-infobox-bar-text-color: #fff;
  --homepage-infobox-bar-background-color: #800;
  --homepage-box-background-color: #fff;
  --homepage-box-border-color: #800;
  --homepage-box-bar-text-color: #800;
  --homepage-box-bar-text-color-hover: #c63;
  --homepage-box-bar-background-color: #fca;
  --homepage-infobox-link-text-color: #00f;
  --homepage-infobox-link-text-decoration: underline;
  --homepage-box-link-text-color: #800;
  --homepage-box-link-text-color-hover: #e00;
  --homepage-box-link-text-decoration: none;
  --homepage-box-link-text-decoration-hover: underline;

  /* footer */
  --footer-item-background-color-desktop: #fed;

  /* links */
  --post-link-text-color: #00e;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: red;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: none;
  --post-content-link-text-decoration-hover: none;

  /* media */
  --media-thumbnail-background-color: rgba(0, 0, 0, 0.05);

  /* mobile buttons */
  --button-font-size-mobile: 10pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #800;
  --button-background-image-mobile: url("/public/assets/buttons/button-fade.png");
  --button-background-color-mobile: #f0e0d6;
  --button-border-mobile: 1px solid #c0a69d;

  /* post capcodes */
  --post-capcode-mod-text-color: purple;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-red.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-red.png");
  --post-subject-text-color: #cc1105;
  --post-subject-font-weight: 700;
  --post-name-text-color: #117743;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #000080;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: red;
  --post-greentext-color: #789922;

  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #ea8;
  --post-form-field-title-color: #800;
  --post-form-field-border: 1px solid #800;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-padding: 0 5px;
  --post-form-field-title-font-size: 10pt;
  --post-form-field-input-border: 1px solid #aaa;
  --post-form-field-font-family: arial, helvetica, sans-serif;
  --post-form-field-input-appearance: none;
  --post-form-field-input-outline: none;
  --post-form-field-input-focus-border: 1px solid #ea8;
  --post-form-field-input-color: #000;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 2px solid #d9bfb7;
  --post-menu-desktop-border-right: 1px solid #d9bfb7;
  --post-menu-desktop-background-color: #f0e0d6;
  --post-menu-desktop-item-border-color: #d9bfb7;
  --post-menu-desktop-item-background-color: #f0e0d6;
  --post-menu-desktop-item-hover-background-color: #ffe;

  /* post menu mobile */
  --post-menu-mobile-background-color: #f0e0d6;
  --post-menu-mobile-border: 1px solid #d9bfb7;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #d9bfb7;
  --post-menu-mobile-item-hover-background-color: #ffe;

  /* post mobile */
  --post-mobile-background-color: #f5e9e1;
  --post-mobile-info-border-bottom: 1px solid #d9bfb7;
  --post-mobile-info-background-color: #ead6ca;
  --post-mobile-menu-button-color: #00e;
  --post-mobile-name-text-color: #117743;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #cc1105;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #ead6ca;
  --post-mobile-link-border-top: 1px solid #d9bfb7;
  --post-mobile-link-info-text-color: #800;
  --post-mobile-abbr-text-color: #707070;
  --post-mobile-abbr-font-size: 10pt;
  --post-mobile-file-info-text-color: #707070;
  --post-mobile-content-font-size: 11pt;

  /* quotelink */
  --post-quotelink-text-color: navy;
  --post-quotelink-text-color-hover: red;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline;
  --quote-preview-background:  #f0e0d6;
  --quote-preview-border: 1px solid #d9bfb7;
  --quote-preview-border-right: 2px solid #d9bfb7;
  --quote-preview-border-bottom: 2px solid #d9bfb7;

  /* reply desktop */
  --side-arrows-color: #e0bfb7;
  --reply-desktop-background-color: #f0e0d6;
  --reply-desktop-border: 1px solid #d9bfb7;

  /* reply highlight */
  --reply-highlight-background-color: #f0c0b0;
  --reply-highlight-border: 1px solid #d99f91;

  /* reply modal */
  --reply-modal-field-input-border: 1px solid #aaa;
  --reply-modal-field-input-border-focus: 1px solid #ea8;

  /* settings modal */
  --settings-modal-font-size: 14px;
  --settings-modal-background-color: #f0e0d6;
  --settings-modal-header-border-bottom: 1px solid #d9bfb7;
  --settings-modal-border-top: none;
  --settings-modal-border-right: 1px solid #d9bfb7;
  --settings-modal-border-bottom: 1px solid #d9bfb7;
  --settings-modal-border-left: none;
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-red.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-red.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-red.png");

  /* stats */
  --stats-font-size: 11px;
  
  /* topbar */
  --topbar-font-size: 9pt;
  --topbar-separator-color: #b86;
  --topbar-desktop-link-text-color: #800;
  --topbar-desktop-link-text-color-hover: #e00;
  --topbar-desktop-link-text-decoration: none;
  --topbar-desktop-link-text-decoration-hover: underline;
  --topbar-mobile-background-color: #f0e0d6;
  --topbar-mobile-border-bottom: 2px solid #d9c5b7;
  --topbar-mobile-font-size: 10px;
  --topbar-mobile-button-text-color: navy;
}

:root .yotsuba-b {
  --color-scheme: light;
  
  /* backlink */
  --post-backlink-text-color: #34345C;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: #dd0000;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #c9cde8;
  --reply-backlink-mobile-border-top: 1px solid #b7c5d9;

  /* board banner */
  --banner-image-border: 1px solid #000;
  --board-title-font-size: 28px;
  --board-title-font-family: Tahoma, sans-serif;
  --board-address-font-size: x-small;
  --board-title-text-color: #af0a0f;
  --board-address-text-color: #af0a0f;

  /* body */
  --body-background-base-color: #eef2ff;
  --body-background-pattern-image: url("/public/assets/background-fade-blue.png");
  --body-font-color: #000;
  --body-font-family: arial, helvetica, sans-serif;
  --body-font-size: 13px;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: navy;
  --catalog-post-menu-desktop-btn-hover-color: #d00;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-author-color: #00a550;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #d6daf0;
  --challenge-modal-border: 1px solid #b7c5d9;
  --challenge-modal-title-background-color: #98e;
  --challenge-modal-title-text-color: #000;
  --challenge-modal-title-border: 1px solid #000;
  --challenge-modal-title-font-size: 10pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #34345c;
  --button-desktop-text-color-hover: #d00;
  --close-button-background-image: url("/public/assets/buttons/cross-blue.png");

  /* footer */
  --footer-item-background-color-desktop: #eef2ff;

  /* homepage */
  --homepage-infobox-text-color: #000;
  --homepage-infobox-bar-text-color: #000;
  --homepage-infobox-bar-background-color: #98e;
  --homepage-box-background-color: #fff;
  --homepage-box-border-color: #000;
  --homepage-box-bar-text-color: #000;
  --homepage-box-bar-text-color-hover: #fff;
  --homepage-box-bar-background-color: #98e;
  --homepage-infobox-link-text-color: #00f;
  --homepage-infobox-link-text-decoration: underline;
  --homepage-box-link-text-color: #34345c;
  --homepage-box-link-text-color-hover: #d00;
  --homepage-box-link-text-decoration: none;
  --homepage-box-link-text-decoration-hover: underline;

  /* horizontal rule */
  --hr-border: none;
  --hr-border-top: 1px solid #b7c5d9;

  /* links */
  --post-link-text-color: #34345c;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: #d00;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: none;
  --post-content-link-text-decoration-hover: none;

  /* media */
  --media-thumbnail-background-color: rgba(0, 0, 0, 0.05);

  /* mobile buttons */
  --button-font-size-mobile: 10pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #34345c;
  --button-background-image-mobile: url("/public/assets/buttons/button-fade-blue.png");
  --button-background-color-mobile: #d6daf0;
  --button-border-mobile: 1px solid #b7c5d9;

  /* post capcodes */
  --post-capcode-mod-text-color: purple;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-blue.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-blue.png");
  --post-subject-text-color: #0f0c5d;
  --post-subject-font-weight: 700;
  --post-name-text-color: #117743;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #34345c;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: #d00;
  --post-greentext-color: #789922;

  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #98e;
  --post-form-field-title-color: #000;
  --post-form-field-border: 1px solid #000;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-padding: 0 5px;
  --post-form-field-title-font-size: 10pt;
  --post-form-field-input-border: 1px solid #aaa;
  --post-form-field-font-family: arial, helvetica, sans-serif;
  --post-form-field-input-appearance: none;
  --post-form-field-input-outline: none;
  --post-form-field-input-focus-border: 1px solid #98e;
  --post-form-field-input-color: #000;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 2px solid #b7c5d9;
  --post-menu-desktop-border-right: 1px solid #b7c5d9;
  --post-menu-desktop-background-color: #d6daf0;
  --post-menu-desktop-item-border-color: #b7c5d9;
  --post-menu-desktop-item-background-color: #d6daf0;
  --post-menu-desktop-item-hover-background-color: #eef2ff;

  /* post menu mobile */
  --post-menu-mobile-background-color: #d6daf0;
  --post-menu-mobile-border: 1px solid #b7c5d9;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #b7c5d9;
  --post-menu-mobile-item-hover-background-color: #eef2ff;

  /* post mobile */
  --post-mobile-background-color: #d6daf0;
  --post-mobile-info-border-bottom: 1px solid #b7c5d9;
  --post-mobile-info-background-color: #c9cde8;
  --post-mobile-menu-button-color: #34345c;
  --post-mobile-name-text-color: #117743;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #0f0c5d;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #c9cde8;
  --post-mobile-link-border-top: 1px solid #b7c5d9;
  --post-mobile-link-info-text-color: #34345c;
  --post-mobile-abbr-text-color: #707070;
  --post-mobile-file-info-text-color: #707070;
  --post-mobile-abbr-font-size: 10pt;
  --post-mobile-content-font-size: 11pt;

  /* quotelink */
  --post-quotelink-text-color: #d00;
  --post-quotelink-text-color-hover: #d00;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline;
  --quote-preview-background:  #d6daf0;
  --quote-preview-border: 1px solid #b7c5d9;
  --quote-preview-border-right: 2px solid #b7c5d9;
  --quote-preview-border-bottom: 2px solid #b7c5d9;

  /* reply desktop */
  --side-arrows-color: #b7c5d9;
  --reply-desktop-background-color: #d6daf0;
  --reply-desktop-border: 1px solid #b7c5d9;

  /* reply highlight */
  --reply-highlight-background-color: #d6bad0;
  --reply-highlight-border: 1px solid #ba9dbf;

  /* reply modal */
  --reply-modal-field-input-border: 1px solid #aaa;
  --reply-modal-field-input-border-focus: 1px solid #98e;

  /* settings modal */
  --settings-modal-font-size: 14px;
  --settings-modal-background-color: #d6daf0;
  --settings-modal-border-top: none;
  --settings-modal-border-right: 1px solid #b7c5d9;
  --settings-modal-border-bottom: 1px solid #b7c5d9;
  --settings-modal-border-left: none;
  --settings-modal-header-border-bottom: 1px solid #b7c5d9;
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-blue.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-blue.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-blue.png");

  /* stats */
  --stats-font-size: 11px;

  /* topbar */
  --topbar-font-size: 9pt;
  --topbar-separator-color: #89a;
  --topbar-desktop-link-text-color: #34345c;
  --topbar-desktop-link-text-color-hover: #d00;
  --topbar-desktop-link-text-decoration: none;
  --topbar-desktop-link-text-decoration-hover: none;
  --topbar-mobile-background-color: #d6daf0;
  --topbar-mobile-border-bottom: 2px solid #b7c5d9;
  --topbar-mobile-font-size: 10px;
  --topbar-mobile-button-text-color: #34345c;
}

:root .futaba {
  --color-scheme: light;

  /* backlink */
  --post-backlink-text-color: navy;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: red;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #ead6ca;
  --reply-backlink-mobile-border-top: 1px solid #d9bfb7;

  /* body */
  --body-background-base-color: #ffe;
  --body-background-pattern-image: none;
  --body-font-color: maroon;
  --body-font-family: times new roman, serif;
  --body-font-size: 16px;

  /* board banner */
  --banner-image-border: none;

  /* board title */
  --board-title-font-size: 32px;
  --board-address-font-size: 10pt;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: navy;
  --catalog-post-menu-desktop-btn-hover-color: red;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-subject-color: #cc1105;
  --catalog-post-preview-author-color: #00a550;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #f0e0d6;
  --challenge-modal-border: 1px solid #d9bfb7;
  --challenge-modal-title-background-color: #ea8;
  --challenge-modal-title-text-color: #800;
  --challenge-modal-title-border: 1px solid #800;
  --challenge-modal-title-font-size: 12pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #00e;
  --button-desktop-text-color-hover: red;
  --button-text-decoration: underline;
  --close-button-background-image: url("/public/assets/buttons/cross-red.png");

  /* footer */
  --footer-item-background-color-desktop: #fed;

  /* links */
  --post-link-text-color: #00e;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: red;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: underline;
  --post-content-link-text-decoration-hover: underline;

  /* media */
  --media-thumbnail-background-color: rgba(0, 0, 0, 0.05);

  /* mobile buttons */
  --button-font-size-mobile: 11pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #800;
  --button-background-image-mobile: url("/public/assets/buttons/button-fade.png");
  --button-background-color-mobile: #f0e0d6;
  --button-border-mobile: 1px solid #c0a69d;

  /* post capcodes */
  --post-capcode-mod-text-color: purple;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-red.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-red.png");
  --post-subject-text-color: #cc1105;
  --post-subject-font-weight: 700;
  --post-name-text-color: #117743;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #000080;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: red;
  --post-greentext-color: #789922;

  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #ea8;
  --post-form-field-title-color: #800;
  --post-form-field-border: none;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-font-size: 16px;
  --post-form-field-input-color: #000;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 1px solid #d9bfb7;
  --post-menu-desktop-border-right: unset;
  --post-menu-desktop-background-color: #f0e0d6;
  --post-menu-desktop-item-border-color: #d9bfb7;
  --post-menu-desktop-item-background-color: #f0e0d6;
  --post-menu-desktop-item-hover-background-color: #ffe;

  /* post menu mobile */
  --post-menu-mobile-background-color: #f0e0d6;
  --post-menu-mobile-border: 1px solid #d9bfb7;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #d9bfb7;
  --post-menu-mobile-item-hover-background-color: #ffe;

  /* post mobile */
  --post-mobile-background-color: #f5e9e1;
  --post-mobile-info-border-bottom: 1px solid #d9bfb7;
  --post-mobile-info-background-color: #ead6ca;
  --post-mobile-menu-button-color: #00e;
  --post-mobile-name-text-color: #117743;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #cc1105;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #ead6ca;
  --post-mobile-link-border-top: 1px solid #d9bfb7;
  --post-mobile-link-info-text-color: #800;
  --post-mobile-abbr-text-color: #707070;
  --post-mobile-file-info-text-color: #707070;
  --post-mobile-abbr-font-size: 12pt;
  --post-mobile-content-font-size: 13pt;

  /* quotelink */
  --post-quotelink-text-color: navy;
  --post-quotelink-text-color-hover: red;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline; 
  --quote-preview-background:  #f0e0d6;
  --quote-preview-border: 1px solid rgba(0,0,0,.2);
  --quote-preview-border-right: 2px solid rgba(0,0,0,.2);
  --quote-preview-border-bottom: 2px solid rgba(0,0,0,.2);

  /* reply desktop */
  --reply-desktop-background-color: #f0e0d6;

  /* reply highlight */
  --reply-highlight-background-color: #f0c0b0;

  /* settings modal */
  --settings-modal-background-color: #f0e0d6;
  --settings-modal-border-top: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-right: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-left: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-header-border-bottom: 1px solid rgba(0,0,0,.2);
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-red.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-red.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-red.png");

  /* stats */
  --stats-font-size: 10pt;

  /* topbar */
  --topbar-font-size: 11pt;
  --topbar-separator-color: none;
  --topbar-desktop-link-text-color: #00e;
  --topbar-desktop-link-text-color-hover: red;
  --topbar-desktop-link-text-decoration: underline;
  --topbar-desktop-link-text-decoration-hover: underline;
  --topbar-mobile-background-color: #f0e0d6;
  --topbar-mobile-border-bottom: 2px solid #d9c5b7;
  --topbar-mobile-font-size: 9pt;
  --topbar-mobile-button-text-color: #00f;
}

:root .burichan {
  --color-scheme: light;
  
  /* backlink */
  --post-backlink-text-color: #34345C;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: #dd0000;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #c9cde8;
  --reply-backlink-mobile-border-top: 1px solid #b7c5d9;

  /* board banner */
  --banner-image-border: 1px solid #000;
  --board-title-font-size: 32px;
  --board-title-text-color: #af0a0f;
  --board-title-font-family: times new roman, serif;
  --board-address-font-size: 10pt;
  --board-address-text-color: #af0a0f;

  /* body */
  --body-background-base-color: #eef2ff;
  --body-background-pattern-image: none;
  --body-font-color: #000;
  --body-font-family: times new roman, serif;
  --body-font-size: 16px;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: navy;
  --catalog-post-menu-desktop-btn-hover-color: red;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-author-color: #00a550;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #d6daf0;
  --challenge-modal-border: 1px solid #b7c5d9;
  --challenge-modal-title-background-color: #98e;
  --challenge-modal-title-text-color: #000;
  --challenge-modal-title-border: 1px solid #000;
  --challenge-modal-title-font-size: 12pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #34345c;
  --button-text-decoration: underline;
  --button-desktop-text-color-hover: #d00;
  --close-button-background-image: url("/public/assets/buttons/cross-blue.png");

  /* footer */
  --footer-item-background-color-desktop: #eef2ff;

  /* homepage */
  --homepage-infobox-text-color: #000;
  --homepage-infobox-bar-text-color: #000;
  --homepage-infobox-bar-background-color: #98e;
  --homepage-box-background-color: #fff;
  --homepage-box-border-color: #000;
  --homepage-box-bar-text-color: #000;
  --homepage-box-bar-background-color: #98e;
  --homepage-box-bar-text-color-hover: #fff;

  /* media */
  --media-thumbnail-background-color: rgba(0, 0, 0, 0.05);

  /* mobile buttons */
  --button-font-size-mobile: 11pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #34345c;
  --button-background-image-mobile: url("/public/assets/buttons/button-fade-blue.png");
  --button-background-color-mobile: #d6daf0;
  --button-border-mobile: 1px solid #b7c5d9;

  /* links */
  --post-link-text-color: #34345c;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: #d00;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: none;
  --post-content-link-text-decoration-hover: none;

  /* post capcodes */
  --post-capcode-mod-text-color: purple;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-blue.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-blue.png");
  --post-subject-text-color: #0f0c5d;
  --post-subject-font-weight: 700;
  --post-name-text-color: #117743;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #34345c;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: #d00;
  --post-greentext-color: #789922;
  
  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #98e;
  --post-form-field-title-color: #000;
  --post-form-field-border: none;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-font-size: 16px;
  --post-form-field-input-color: #000;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 1px solid #b7c5d9;
  --post-menu-desktop-border-right: unset;
  --post-menu-desktop-background-color: #d6daf0;
  --post-menu-desktop-item-border-color: #b7c5d9;
  --post-menu-desktop-item-background-color: #d6daf0;
  --post-menu-desktop-item-hover-background-color: #eef2ff;

  /* post menu mobile */
  --post-menu-mobile-background-color: #d6daf0;
  --post-menu-mobile-border: 1px solid #b7c5d9;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #b7c5d9;
  --post-menu-mobile-item-hover-background-color: #eef2ff;

  /* post mobile */
  --post-mobile-background-color: #d6daf0;
  --post-mobile-info-border-bottom: 1px solid #b7c5d9;
  --post-mobile-info-background-color: #c9cde8;
  --post-mobile-menu-button-color: #34345c;
  --post-mobile-name-text-color: #117743;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #0f0c5d;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #c9cde8;
  --post-mobile-link-border-top: 1px solid #b7c5d9;
  --post-mobile-link-info-text-color: #34345c;
  --post-mobile-abbr-text-color: #707070;
  --post-mobile-file-info-text-color: #707070;
  --post-mobile-abbr-font-size: 12pt;
  --post-mobile-content-font-size: 13pt;

  /* quotelink */
  --post-quotelink-text-color: #d00;
  --post-quotelink-text-color-hover: #d00;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline;
  --quote-preview-background:  #d6daf0;
  --quote-preview-border: 1px solid rgba(0,0,0,.2);
  --quote-preview-border-right: 2px solid rgba(0,0,0,.2);
  --quote-preview-border-bottom: 2px solid rgba(0,0,0,.2);

  /* reply desktop */
  --reply-desktop-background-color: #d6daf0;

  /* reply highlight */
  --reply-highlight-background-color: #d6bad0;

  /* settings modal */
  --settings-modal-background-color: #d6daf0;
  --settings-modal-border-top: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-right: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-border-left: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-header-border-bottom: 1px solid rgba(0,0,0,.2);
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-blue.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-blue.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-blue.png");

  /* stats */
  --stats-font-size: 10pt;

  /* topbar */
  --topbar-font-size: 11pt;
  --topbar-separator-color: none;
  --topbar-desktop-link-text-color: #34345c;
  --topbar-desktop-link-text-color-hover: #d00;
  --topbar-desktop-link-text-decoration: underline;
  --topbar-desktop-link-text-decoration-hover: underline;
  --topbar-mobile-background-color: #d6daf0;
  --topbar-mobile-border-bottom: 2px solid #b7c5d9;
  --topbar-mobile-font-size: 9pt;
  --topbar-mobile-button-text-color: #34345c;
}

:root .tomorrow {
  --color-scheme: dark;
  
  /* backlink */
  --post-backlink-text-color: #5f89ac;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: #81a2be;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #212326;
  --reply-backlink-mobile-border-top: 1px solid #2D2F33;

  /* body */
  --body-background-base-color: #1d1f21;
  --body-background-pattern-image: none;
  --body-font-color: #c5c8c6;
  --body-font-family: arial, helvetica, sans-serif;
  --body-font-size: 13px;

  /* board banner */
  --banner-image-border: none;

  /* board title */
  --board-title-font-size: 28px;
  --board-title-font-family: Tahoma, sans-serif;
  --board-address-font-size: x-small;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: #5f89ac;
  --catalog-post-menu-desktop-btn-hover-color: #5f89ac;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-subject-color: #b294bb;
  --catalog-post-preview-author-color: #00a550;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #282a2e;
  --challenge-modal-border: 1px solid #111;
  --challenge-modal-title-background-color: #282a2e;
  --challenge-modal-title-text-color: #c5c8c6;
  --challenge-modal-title-border: unset;
  --challenge-modal-title-font-size: 10pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #81a2be;
  --button-desktop-text-color-hover: #5f89ac;
  --close-button-background-image: url("/public/assets/buttons/cross-dark.png");

  /* filter for inputs */
  --filter80: brightness(85%);

  /* homepage */
  --homepage-infobox-text-color: #c5c8c6;
  --homepage-infobox-bar-text-color: #c5c8c6;
  --homepage-infobox-bar-background-color: rgb(33, 35, 38);
  --homepage-box-background-color: #282a2e;
  --homepage-box-bar-background-color: rgb(33, 35, 38);
  --homepage-box-border-color: rgb(45, 47, 51);
  --homepage-box-bar-text-color: #c5c8c6;
  --homepage-box-bar-text-color-hover: #c5c8c6;

  /* horizontal rule */
  --hr-border: none;
  --hr-border-top: 1px solid #282a2e;
  --hr-height: 0px;

  /* links */
  --post-link-text-color: #81a2be;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: #5f89ac;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: none;
  --post-content-link-text-decoration-hover: none;

  /* media */
  --media-thumbnail-background-color: rgba(255, 255, 255, 0.01);

  /* mobile buttons */
  --button-font-size-mobile: 10pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #707070;
  --button-background-image-mobile: url("/public/assets/buttons/button-fade-dark.png");
  --button-background-color-mobile: #1b1c1e;
  --button-border-mobile: 1px solid #282a2e;

  /* post capcodes */
  --post-capcode-mod-text-color: #81a2be;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-dark.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-dark.png");
  --post-subject-text-color: #b294bb;
  --post-subject-font-weight: 700;
  --post-name-text-color: #c5c8c6;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #5F89AC;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: #81a2be;
  --post-greentext-color: #b5bd68;

  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #282a2e;
  --post-form-field-title-color: #c5c8c6;
  --post-form-field-border: 1px solid #000;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-padding: 0 5px;
  --post-form-field-title-font-size: 10pt;
  --post-form-field-input-border: 1px solid #000;
  --post-form-field-input-focus-border: 1px solid #515151;
  --post-form-field-input-background-color: #282a2e;
  --post-form-field-input-color: #c5c8c6;
  --post-form-field-font-family: arial, helvetica, sans-serif;
  --post-form-field-input-appearance: none;
  --post-form-field-input-outline: none;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 1px solid #000;
  --post-menu-desktop-border-right: unset;
  --post-menu-desktop-background-color: #282a2e;
  --post-menu-desktop-item-border-color: #000;
  --post-menu-desktop-item-background-color: #282a2e;
  --post-menu-desktop-item-hover-background-color: #1d1f21;

  /* post menu mobile */
  --post-menu-mobile-background-color: #282a2e;
  --post-menu-mobile-border: 1px solid #000;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #000;
  --post-menu-mobile-item-hover-background-color: #1d1f21;

  /* post mobile */
  --post-mobile-background-color: #282A2E;
  --post-mobile-info-border-top: 1px solid #2D2F33;
  --post-mobile-info-border-bottom: 1px solid #2D2F33;
  --post-mobile-info-background-color: #212326;
  --post-mobile-info-text-color: #707070;
  --post-mobile-menu-button-color: #81A2BE;
  --post-mobile-name-text-color: #117743;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #B294BB;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #212326;
  --post-mobile-link-border-top: 1px solid #2D2F33;
  --post-mobile-link-border-bottom: 1px solid #2D2F33;
  --post-mobile-link-info-text-color: #707070;
  --post-mobile-abbr-text-color: #707070;
  --post-mobile-file-info-text-color: #707070;
  --post-mobile-abbr-font-size: 10pt;
  --post-mobile-content-font-size: 11pt;

  /* quotelink */
  --post-quotelink-text-color: #5f89ac;
  --post-quotelink-text-color-hover: #81a2be;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline; 
  --quote-preview-background:  #282a2e;
  --quote-preview-border: 1px solid #333;
  --quote-preview-border-right: 1px solid #333;
  --quote-preview-border-bottom: 1px solid #333;

  /* reply desktop */
  --side-arrows-color: #c5c8c6;
  --reply-desktop-background-color: #282a2e;
  --reply-desktop-border: 1px solid #282a2e;
  --reply-desktop-border-left: 1px solid #282a2e;
  --reply-desktop-border-top: 1px solid #282a2e;

  /* reply modal */
  --reply-modal-field-input-border: 1px solid #515151;
  --reply-modal-field-border-focus: 1px solid #757575;
  --reply-modal-field-input-border-focus: 1px solid #757575;

  /* reply highlight */
  --reply-highlight-background-color: #1d1d21;
  --reply-highlight-border: 1px solid #111;
  --reply-highlight-border-left: 1px solid #111;
  --reply-highlight-border-top: 1px solid #111;

  /* settings modal */
  --settings-modal-font-size: 14px;
  --settings-modal-background-color: #282a2e;
  --settings-modal-border-top: 1px solid #111;
  --settings-modal-border-right: 1px solid #111;
  --settings-modal-border-bottom: 1px solid #111;
  --settings-modal-border-left: 1px solid #111;
  --settings-modal-header-border-bottom: 1px solid #111;
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-dark.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-dark.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-dark.png");

  /* stats */
  --stats-font-size: 11px;

  /* topbar */
  --topbar-font-size: 9pt;
  --topbar-separator-color: #c5c8c6;
  --topbar-desktop-link-text-color: #81a2be;
  --topbar-desktop-link-text-color-hover: #5f89ac;
  --topbar-desktop-link-text-decoration: none;
  --topbar-desktop-link-text-decoration-hover: none;
  --topbar-mobile-background-color: #1d1f21;
  --topbar-mobile-border-bottom: 2px solid #282a2e;
  --topbar-mobile-font-size: 10px;
  --topbar-mobile-button-text-color: #81a2be;
  --topbar-mobile-button-color: #81a2be;
}

:root .photon {
  --color-scheme: light;
  
  /* backlink */
  --post-backlink-text-color: #f60;
  --post-backlink-text-decoration: underline;
  --post-backlink-text-color-hover: #f30;
  --post-backlink-text-decoration-hover: underline;
  --reply-backlink-mobile-background-color: #ddd;
  --reply-backlink-mobile-border-top: 1px solid #ccc;

  /* body */
  --body-background-base-color: #eee;
  --body-background-pattern-image: none;
  --body-font-color: #333;
  --body-font-family: arial, helvetica, sans-serif;
  --body-font-size: 13px;

  /* board banner */
  --banner-image-border: none;

  /* board title */
  --board-title-font-size: 28px;
  --board-title-font-family: Tahoma, sans-serif;
  --board-title-text-color: #004a99;
  --board-address-font-size: x-small;

  /* catalog post */
  --catalog-post-menu-desktop-btn-color: #f60;
  --catalog-post-menu-desktop-btn-hover-color: #f30;
  --catalog-post-menu-desktop-btn-opacity: 0.5;
  --catalog-post-menu-desktop-btn-hover-opacity: 1;
  --catalog-post-preview-background-color: #181f24;
  --catalog-post-preview-color: #dedede;
  --catalog-post-preview-last-color: #bbbfbd;
  --catalog-post-preview-author-capcode-color: purple;

  /* challenge modal */
  --challenge-modal-background-color: #ddd;
  --challenge-modal-border: 1px solid #ccc;
  --challenge-modal-title-background-color: #ddd;
  --challenge-modal-title-text-color: #333;
  --challenge-modal-title-border: unset;
  --challenge-modal-title-font-size: 10pt;
  --challenge-modal-title-font-weight: 700;

  /* desktop buttons */
  --button-desktop-text-color: #f60;
  --button-desktop-text-color-hover: #f30;
  --close-button-background-image: url("/public/assets/buttons/cross-photon.png");

  /* horizontal rule */
  --hr-border: none;
  --hr-border-top: 1px solid #ddd;
  --hr-height: 0px;

  /* links */
  --post-link-text-color: #f60;
  --post-link-text-decoration: underline;
  --post-link-text-color-hover: #f30;
  --post-link-text-decoration-hover: underline;
  --post-content-link-text-decoration: none;
  --post-content-link-text-decoration-hover: none;

  /* media */
  --media-thumbnail-background-color: rgba(0, 0, 0, 0.05);

  /* mobile buttons */
  --button-font-size-mobile: 10pt;
  --button-font-weight-mobile: 700;
  --button-text-color-mobile: #333;
  --button-background-image-mobile: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
  --button-border-mobile: 1px solid #ccc;

  /* post capcodes */
  --post-capcode-mod-text-color: #f60;

  /* post desktop */
  --post-hide-button-background-image: url("/public/assets/buttons/minus-photon.png");
  --post-unhide-button-background-image: url("/public/assets/buttons/plus-photon.png");
  --post-subject-text-color: #111;
  --post-subject-font-weight: 700;
  --post-name-text-color: #004a99;
  --post-name-font-weight: 700;
  --post-menu-desktop-button-color: #FF6600;
  --post-menu-desktop-btn-opacity: 0.8;
  --post-menu-desktop-button-color-hover: #FF3300;
  --post-greentext-color: #789922;

  /* post mobile */
  --post-mobile-background-color: #eee;
  --post-mobile-info-border-top: 1px solid #ccc;
  --post-mobile-info-border-bottom: 1px solid #ccc;
  --post-mobile-info-background-color: #ddd;
  --post-mobile-info-text-color: #333;
  --post-mobile-menu-button-color: #f60;
  --post-mobile-name-text-color: #004a99;
  --post-mobile-name-font-weight: 700;
  --post-mobile-subject-text-color: #111;
  --post-mobile-subject-font-weight: 700;
  --post-mobile-link-background-color: #ddd;
  --post-mobile-link-border-top: 1px solid #ccc;
  --post-mobile-link-border-bottom: 1px solid #ccc;
  --post-mobile-link-info-text-color: #333;
  --post-mobile-abbr-text-color: #333;
  --post-mobile-file-info-text-color: #333;
  --post-mobile-abbr-font-size: 10pt;
  --post-mobile-content-font-size: 11pt;

  /* post form */
  --post-form-toggle-font-size: 22px;
  --post-form-toggle-font-weight: 700;
  --post-form-field-title-background-color: #ddd;
  --post-form-field-title-color: #333;
  --post-form-field-border: 1px solid #ccc;
  --post-form-field-title-font-weight: 700;
  --post-form-field-title-padding: 0 5px;
  --post-form-field-title-font-size: 10pt;
  --post-form-field-input-border: 1px solid #aaa;
  --post-form-field-font-family: arial, helvetica, sans-serif;
  --post-form-field-input-appearance: none;
  --post-form-field-input-outline: none;
  --post-form-field-input-focus-border: 1px solid #ea8;
  --post-form-field-input-color: #000;

  /* post menu desktop */
  --post-menu-desktop-border-bottom: 1px solid #ccc;
  --post-menu-desktop-border-right: unset;
  --post-menu-desktop-background-color: #ddd;
  --post-menu-desktop-item-border-color: #ccc;
  --post-menu-desktop-item-background-color: #ddd;
  --post-menu-desktop-item-hover-background-color: #eee;

  /* post menu mobile */
  --post-menu-mobile-background-color: #ddd;
  --post-menu-mobile-border: 1px solid #ccc;
  --post-menu-mobile-border-right-width: 2px;
  --post-menu-mobile-item-border-bottom: 1px solid #ccc;
  --post-menu-mobile-item-hover-background-color: #eee;

  /* quotelink */
  --post-quotelink-text-color: #f60;
  --post-quotelink-text-color-hover: #f30;
  --post-quotelink-text-decoration: underline;
  --post-quotelink-text-decoration-hover: underline; 
  --quote-preview-background: #ddd;
  --quote-preview-border: 1px solid #ccc;
  --quote-preview-border-right: 1px solid #ccc;
  --quote-preview-border-bottom: 1px solid #ccc;

  /* reply desktop */
  --side-arrows-color: #333;
  --reply-desktop-background-color: #ddd;
  --reply-desktop-border: 1px solid #ccc;
  --reply-desktop-border-left: 1px solid #ccc;
  --reply-desktop-border-top: 1px solid #ccc;

  /* reply highlight */
  --reply-highlight-background-color: #ccc;
  --reply-highlight-border: 1px solid #ccc;
  --reply-highlight-border-left: 1px solid #ccc;
  --reply-highlight-border-top: 1px solid #ccc;

  /* reply modal */
  --reply-modal-field-input-border: 1px solid #aaa;
  --reply-modal-field-input-border-focus: 1px solid #ea8;

  /* settings modal */
  --settings-modal-font-size: 14px;
  --settings-modal-background-color: #ddd;
  --settings-modal-border-top: 1px solid #ccc;
  --settings-modal-border-right: 1px solid #ccc;
  --settings-modal-border-bottom: 1px solid #ccc;
  --settings-modal-border-left: 1px solid #ccc;
  --settings-modal-header-border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  --settings-modal-close-button-background-image: url("/public/assets/buttons/cross-photon.png");
  --settings-modal-show-button-background-image: url("/public/assets/buttons/plus-photon.png");
  --settings-modal-hide-button-background-image: url("/public/assets/buttons/minus-photon.png");

  /* stats */
  --stats-font-size: 11px;

  /* topbar */
  --topbar-font-size: 9pt;
  --topbar-separator-color: #333;
  --topbar-desktop-link-text-color: #f60;
  --topbar-desktop-link-text-color-hover: #f30;
  --topbar-desktop-link-text-decoration: none;
  --topbar-desktop-link-text-decoration-hover: none;
  --topbar-mobile-background-color: #ddd;
  --topbar-mobile-border-bottom: 2px solid #ccc;
  --topbar-mobile-font-size: 10px;
  --topbar-mobile-button-text-color: #f60;
  --topbar-mobile-button-color: #f60;
}
