:root .yotsuba {
  --background-base-color: #ffe;
  --background-pattern-image: url("/public/assets/background-fade.png");
  --color1: #800;
  --color2: #fca;
  --color3: #fed;
  --text-color: maroon;
  --text-color-on-color1: #fff;
  --text-color-on-color2: #800;
  --text-color-on-color2-hover: #c63;
  --text-color-standard: #000;
  --text-color-inverse: #fff;
  --background-text-color: #fff;
  --external-link-text-color: #00f;
  --external-link-text-decoration: underline;
  --internal-link-text-color: #800;
  --internal-link-text-color-hover: #e00;
  --internal-link-text-decoration: none;
  --internal-link-text-decoration-hover: underline;
  --box-border-color: #800;
}

:root .yotsuba-b {
  --background-base-color: #eef2ff;
  --background-pattern-image: url("/public/assets/background-fade-blue.png");
  --color1: #98e;
  --color2: #98e;
  --color3: #eef2ff;
  --text-color: #000;
  --text-color-on-color1: #000;
  --text-color-on-color2: #000;
  --text-color-on-color2-hover: #fff;
  --text-color-standard: #000;
  --text-color-inverse: #fff;
  --background-text-color: #fff;
  --external-link-text-color: #00f;
  --external-link-text-decoration: underline;
  --internal-link-text-color: #34345c;
  --internal-link-text-color-hover: #d00;
  --internal-link-text-decoration: none;
  --internal-link-text-decoration-hover: underline;
  --box-border-color: #000;
}

:root .tomorrow {
  --background-base-color: #1d1f21;
  --background-pattern-image: none;
  --color1: rgb(33, 35, 38);
  --color2: rgb(33, 35, 38);
  --text-color: #c5c8c6;
  --text-color-standard: #c5c8c6;
  --text-color-on-color1: #c5c8c6;
  --text-color-on-color2: #c5c8c6;
  --text-color-on-color3: #c5c8c6;
  --background-text-color: #282a2e;
  --box-border-color: rgb(45, 47, 51);
}