.stateString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100vw - 28px);
  width: 100vw;
  margin-top: 10px;
  margin-left: 40px;
}

@media (max-width: 640px) {
  .stateString {
    margin-top: 0px;
    margin-left: 10px;
  }
}